.loginWindow {
    position: absolute;
    background-color:white;
    min-height: 450px;
    min-width: 525px;
    size: 100%;
    top: 20%;
    left: 30%;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
}

body {
    background-color: #173f5f;
    text-align: center;
    align-items: center;
}

.loginField1 {
    position: absolute;
    left: 7%;
    top: 28%;
}

.usernameLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    position: absolute;
    top: 20%;
    left: 7%;
}

.loginTitle {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(128, 128, 128, 0.5);
    left: 13%;
    top: 3%;
}

.passwordLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    position: absolute;
    top: 32%;
    left: 7%;
}

.loginField2 {
    position: absolute;
    left: 7%;
    top: 41%;
}

.registerBtn {
    position: absolute;
    background-color: #20639b;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    border: 0px;
    color: white;
    padding: 15px 32px;
    text-align: absolute;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    font-weight: 200;
    text-transform: uppercase;
    transition: transform 500ms ease-in-out;
    top: 80%;
    right: 8%;
    min-width: 175px;
}

.registerBtn:hover {
    box-shadow: 0 0px 8px #001322;
    background-color: #008cff;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
}

.registerUsernameLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    position: absolute;
    right: 27%;
    top: 30%;
}

.registerUsername {
    position: absolute;
    top: 41%;
    right: 8%;
}

.registerEmailLabel {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    top: 15%;
    right: 33.5%;
}

.registerEmail {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 28%;
    right: 8%;
}

.registerTitle {
    position: absolute;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(128, 128, 128, 0.5);
    right: 13%;
    top: -2%
}

.blueBtn {
    position: absolute;
    background-color: #20639b;
    text-align: absolute;
    font-family: 'Varela Round', sans-serif;
    border: 0px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    font-weight: 200;
    text-transform: uppercase;
    transition: transform 500ms ease-in-out;
    top: 80%;
    left: 7%;
    min-width: 175px;
}

.separator {
    position: absolute;
    border-top: 2px solid rgba(170, 170, 170, 0.5);
    border-radius: 5px;
    width: 75%;
    top: 47%;
    left: 12%;
    transform: rotate(90deg);
}

.blueBtn:hover {
    box-shadow: 0 0px 8px #001322;
    background-color: #008cff;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
}

.registerPasswordLabel {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    top: 41%;
    right: 27.5%;
}

.registerPassword {
    position: absolute;
    top: 54%;
    right: 8%;
}

.confirmPassword {
    position: absolute;
    top:67%;
    right: 8%;
}

.confirmPasswordLabel {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    top: 53%;
    right: 15%;
}

.backBtn {
    max-height: 30px;
    position: absolute;
    top: 1%;
    right: 1%;
}
